<html>
<head>
  <title>Calculadora de Receita Bruta</title>
</head>
<body>
  <form action="/purchase" method="post" enctype="multipart/form-data">
    <input type="file" name="arquivo" required><br/>
    <button>Enviar Arquivo</button>
  </form>
</body>
</html>