<html>
<head>
  <title>Calculadora de Receita Bruta</title>
</head>
<body>
  <form action="/purchases" method="post">
    <input type="file" required><br/>
    <button>Enviar Arquivo</button>
  </form>
</body>
</html>